@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mukta", sans-serif;
}
:root {
  --white: #fff;
  --violet: #4834d4;
  --lightBlue: #48dbfb;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */
.header {
  background-color: var(--violet);
  box-shadow: 1px 1px 5px 0px var(--lightBlue);
  position: sticky;
  top: 0;
  width: 100%;
}
/* Logo */
.logo {
  display: inline-block;
  color: var(--white);
  font-size: 40px;
  padding: 10px 0 10px 10px;
  margin-left: 10px;
}
/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--violet);
  overflow: hidden;
}
.menu a {
  display: block;
  font-size: 20px;
  padding: 25px;
  color: var(--white);
}
.menu a:hover {
  background-color: var(--lightBlue);
}
.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}
/* Responsiveness */
@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--lightBlue);
  }
  .hamb {
    display: none;
  }
}
/* Card */
.pages {
  background-color: #fff;
  height: 91vh;
}
.card-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  width: 100%;
}
.card-container .card {
  color: #fff;
  width: 400px;
  padding: 10px;
  margin: 10px;
  background-color: #5f27cd;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
.card .editupdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  color: #fff;
  text-align: center;
  padding: 10px 0 10px 0;
}

/* Login Page */
#form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#person {
  float: right;
  margin-top: -124px;
  margin-right: 0px;
}

#arm,
#hand {
  animation: arm 5s ease-in infinite;
}

@keyframes arm {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  10% {
    transform: rotate(25deg) translateX(16px) translateY(-30px);
  }
  20% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  100% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}

.auth {
  background: #54a0ff;
  padding: 35px 25px;
  border-radius: 20px;
  margin-top: 180px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.auth .title {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin-bottom: 35px;
  animation: title 5s ease infinite;
}

@keyframes title {
  0% {
    left: 225px;
  }
  50% {
    left: 0px;
    animation-timing-function: ease-in;
  }
  100% {
    left: 225px;
  }
}

.auth label {
  display: block;
  font-weight: 500;
  font-size: 24px;
}

.auth input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  outline: 0;
  border: none;
}

.auth input[type="submit"] {
  background: #223743;
  color: #fff;
  border: 0;
  height: 48px;
  border-radius: 20px;
  margin-top: 28px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.auth input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.auth .forget {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.auth .forget a {
  display: inline-block;
  color: rgb(13, 56, 173);
  font-weight: bold;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
  transform: scale(1);
}

.auth .forget a:hover {
  color: #000;
  transform: scale(1.05);
}

.auth .new {
  display: block;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: #000;
}

.auth .new a {
  display: inline-block;
  color: rgb(19, 72, 218);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s;
  transform: scale(1);
}

.auth .new a:hover {
  color: rgb(9, 50, 161);
  transform: scale(1.05);
}
.login-with {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.login-with > a {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
}
.login-with > a:nth-child(1) {
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s;
}
.login-with > a:nth-child(2) {
  background: #0088ff;
  transition: all 0.2s;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.login-with > a:nth-child(3) {
  background: #1b1a19;
  transition: all 0.2s;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.login-with a:nth-child(1):hover {
  background: #d04a07;
}
.login-with a:nth-child(2):hover {
  background: #0063ba;
}
.login-with a:nth-child(3):hover {
  background: #000000;
}


.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

